In [360]:
import pandas as pd

In [361]:
weather = pd.read_csv('./Data/0416_mini_project/ta_20200416134716.csv', encoding='euc-kr', sep=',', header=6)
weather.head(10)

    5  11  2019-07-05  159  23  20  26
0   6  12  2019-07-06  159  24  20  28
1   7  13  2019-07-07  159  23  20  26
2   8  14  2019-07-08  159  22  20  26
3   9  15  2019-07-09  159  22  20  26
4  10  16  2019-07-10  159  21  20  22
5  11  17  2019-07-11  159  23  21  27
6  12  18  2019-07-12  159  24  21  28
7  13  19  2019-07-13  159  22  21  23
8  14  20  2019-07-14  159  23  20  26
9  15  21  2019-07-15  159  23  21  26

In [362]:
weather = weather.rename(columns={'평균기온(℃)':'평균기온', '최저기온(℃)':'최저기온', '최고기온(℃)':'최고기온'})
weather

       5   11  2019-07-05  159  23  20  26
0      6   12  2019-07-06  159  24  20  28
1      7   13  2019-07-07  159  23  20  26
2      8   14  2019-07-08  159  22  20  26
3      9   15  2019-07-09  159  22  20  26
4     10   16  2019-07-10  159  21  20  22
..   ...  ...         ...  ...  ..  ..  ..
280  286  292  2020-04-11  159  10   7  14
281  287  293  2020-04-12  159   9   7  11
282  288  294  2020-04-13  159  10   6  15
283  289  295  2020-04-14  159  15   8  21
284  290  296  2020-04-15  159  14  12  18

[285 rows x 7 columns]

In [363]:
weather.dtypes

5              int64
11             int64
2019-07-05    object
159            int64
23             int64
20             int64
26             int64
dtype: object

In [364]:
weather['날짜'] = pd.to_datetime(weather['날짜'])
weather

KeyError: '날짜'

In [365]:
weather.dtypes

5              int64
11             int64
2019-07-05    object
159            int64
23             int64
20             int64
26             int64
dtype: object

In [196]:
# weather['평균기온'] = weather['평균기온'].astype('int32')
# weather['최저기온'] = weather['최저기온'].astype('int32')
# weather['최고기온'] = weather['최고기온'].astype('int32')

KeyError: '평균기온'

In [366]:
weather.dtypes

5              int64
11             int64
2019-07-05    object
159            int64
23             int64
20             int64
26             int64
dtype: object

In [367]:
weather.isnull().sum()

5             0
11            0
2019-07-05    0
159           0
23            0
20            0
26            0
dtype: int64

In [368]:
weather.to_csv('./Data/0416_mini_project/ta_20200416134716.csv')

In [369]:
carrot3 = pd.read_csv('./Data/0416_mini_project/가격정보1.xls.csv')
carrot3.head()

,구분,Unnamed: 1,01월 10일,01월 13일,01월 14일,01월 15일,01월 16일,01월 17일,01월 20일,01월 21일,...,04월 01일,04월 02일,04월 03일,04월 06일,04월 07일,04월 08일,04월 09일,04월 10일,04월 13일,04월 14일
0,평균,NaN,"4,600","4,600","4,600","4,600","4,600","4,600","4,933","4,933",...,"5,033","5,267","5,267","5,267","5,267","5,267","5,267","5,267","5,267","5,200"
1,평년,NaN,"3,354","3,385","3,392","3,389","3,377","3,452","3,324","3,321",...,"3,141","3,129","3,122","3,172","3,172","3,172","3,172","3,177","3,190","3,194"
2,부산,부전,"4,000","4,000","4,000","4,000","4,000","4,000","4,000","4,000",...,"4,300","4,500","4,500","4,500","4,500","4,500","4,500","4,500","4,500","4,300"
3,NaN,A-유통,"3,900","3,900","3,900","3,900","3,900","3,900","4,900","4,900",...,"4,900","5,400","5,400","5,400","5,400","5,400","5,400","5,400","5,400","5,400"
4,NaN,D-유통,"5,900","5,900","5,900","5,900","5,900","5,900","5,900","5,900",...,"5,900","5,900","5,900","5,900","5,900","5,900","5,900","5,900","5,900","5,900"

In [370]:
carrot3.head()

,구분,Unnamed: 1,01월 10일,01월 13일,01월 14일,01월 15일,01월 16일,01월 17일,01월 20일,01월 21일,...,04월 01일,04월 02일,04월 03일,04월 06일,04월 07일,04월 08일,04월 09일,04월 10일,04월 13일,04월 14일
0,평균,NaN,"4,600","4,600","4,600","4,600","4,600","4,600","4,933","4,933",...,"5,033","5,267","5,267","5,267","5,267","5,267","5,267","5,267","5,267","5,200"
1,평년,NaN,"3,354","3,385","3,392","3,389","3,377","3,452","3,324","3,321",...,"3,141","3,129","3,122","3,172","3,172","3,172","3,172","3,177","3,190","3,194"
2,부산,부전,"4,000","4,000","4,000","4,000","4,000","4,000","4,000","4,000",...,"4,300","4,500","4,500","4,500","4,500","4,500","4,500","4,500","4,500","4,300"
3,NaN,A-유통,"3,900","3,900","3,900","3,900","3,900","3,900","4,900","4,900",...,"4,900","5,400","5,400","5,400","5,400","5,400","5,400","5,400","5,400","5,400"
4,NaN,D-유통,"5,900","5,900","5,900","5,900","5,900","5,900","5,900","5,900",...,"5,900","5,900","5,900","5,900","5,900","5,900","5,900","5,900","5,900","5,900"

In [371]:
carrot3.columns[2:]

Index(['01월 10일', '01월 13일', '01월 14일', '01월 15일', '01월 16일', '01월 17일',
       '01월 20일', '01월 21일', '01월 22일', '01월 23일', '01월 28일', '01월 29일',
       '01월 30일', '01월 31일', '02월 03일', '02월 04일', '02월 05일', '02월 06일',
       '02월 07일', '02월 10일', '02월 11일', '02월 12일', '02월 13일', '02월 14일',
       '02월 17일', '02월 18일', '02월 19일', '02월 20일', '02월 21일', '02월 24일',
       '02월 25일', '02월 26일', '02월 27일', '02월 28일', '03월 02일', '03월 03일',
       '03월 04일', '03월 05일', '03월 06일', '03월 09일', '03월 10일', '03월 11일',
       '03월 12일', '03월 13일', '03월 16일', '03월 17일', '03월 18일', '03월 19일',
       '03월 20일', '03월 23일', '03월 24일', '03월 25일', '03월 26일', '03월 27일',
       '03월 30일', '03월 31일', '04월 01일', '04월 02일', '04월 03일', '04월 06일',
       '04월 07일', '04월 08일', '04월 09일', '04월 10일', '04월 13일', '04월 14일'],
      dtype='object')

In [372]:
carrot_col = []
for i in carrot3.columns[2:] :
    carrot_col.append(i)
    
# carrot_col

In [373]:
carrot_col1 = []
for i in carrot_col : 
    carrot_col1.append('2020-' + i)
    
carrot_col1

['2020-01월 10일',
 '2020-01월 13일',
 '2020-01월 14일',
 '2020-01월 15일',
 '2020-01월 16일',
 '2020-01월 17일',
 '2020-01월 20일',
 '2020-01월 21일',
 '2020-01월 22일',
 '2020-01월 23일',
 '2020-01월 28일',
 '2020-01월 29일',
 '2020-01월 30일',
 '2020-01월 31일',
 '2020-02월 03일',
 '2020-02월 04일',
 '2020-02월 05일',
 '2020-02월 06일',
 '2020-02월 07일',
 '2020-02월 10일',
 '2020-02월 11일',
 '2020-02월 12일',
 '2020-02월 13일',
 '2020-02월 14일',
 '2020-02월 17일',
 '2020-02월 18일',
 '2020-02월 19일',
 '2020-02월 20일',
 '2020-02월 21일',
 '2020-02월 24일',
 '2020-02월 25일',
 '2020-02월 26일',
 '2020-02월 27일',
 '2020-02월 28일',
 '2020-03월 02일',
 '2020-03월 03일',
 '2020-03월 04일',
 '2020-03월 05일',
 '2020-03월 06일',
 '2020-03월 09일',
 '2020-03월 10일',
 '2020-03월 11일',
 '2020-03월 12일',
 '2020-03월 13일',
 '2020-03월 16일',
 '2020-03월 17일',
 '2020-03월 18일',
 '2020-03월 19일',
 '2020-03월 20일',
 '2020-03월 23일',
 '2020-03월 24일',
 '2020-03월 25일',
 '2020-03월 26일',
 '2020-03월 27일',
 '2020-03월 30일',
 '2020-03월 31일',
 '2020-04월 01일',
 '2020-04월 02일',
 '2020-04월 03일',
 '2020-04월 06일',
 '2020-04월 07일',
 '2020-04월 08일',
 '2020-04월 09일',
 '2020-04월 10일',
 '2020-04월 13일',
 '2020-04월 14일']

In [374]:
carrot_col1[0].replace('월 ','-').replace('일','')

'2020-01-10'

In [375]:
carrot_col2 = []
for x in carrot_col1 : 
    carrot_col2.append(x.replace('월 ','-').replace('일',''))
    
carrot_col2

['2020-01-10',
 '2020-01-13',
 '2020-01-14',
 '2020-01-15',
 '2020-01-16',
 '2020-01-17',
 '2020-01-20',
 '2020-01-21',
 '2020-01-22',
 '2020-01-23',
 '2020-01-28',
 '2020-01-29',
 '2020-01-30',
 '2020-01-31',
 '2020-02-03',
 '2020-02-04',
 '2020-02-05',
 '2020-02-06',
 '2020-02-07',
 '2020-02-10',
 '2020-02-11',
 '2020-02-12',
 '2020-02-13',
 '2020-02-14',
 '2020-02-17',
 '2020-02-18',
 '2020-02-19',
 '2020-02-20',
 '2020-02-21',
 '2020-02-24',
 '2020-02-25',
 '2020-02-26',
 '2020-02-27',
 '2020-02-28',
 '2020-03-02',
 '2020-03-03',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-09',
 '2020-03-10',
 '2020-03-11',
 '2020-03-12',
 '2020-03-13',
 '2020-03-16',
 '2020-03-17',
 '2020-03-18',
 '2020-03-19',
 '2020-03-20',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-30',
 '2020-03-31',
 '2020-04-01',
 '2020-04-02',
 '2020-04-03',
 '2020-04-06',
 '2020-04-07',
 '2020-04-08',
 '2020-04-09',
 '2020-04-10',
 '2020-04-13',
 '2020-04-14']

In [376]:
carrot3.columns

Index(['구분', 'Unnamed: 1', '01월 10일', '01월 13일', '01월 14일', '01월 15일',
       '01월 16일', '01월 17일', '01월 20일', '01월 21일', '01월 22일', '01월 23일',
       '01월 28일', '01월 29일', '01월 30일', '01월 31일', '02월 03일', '02월 04일',
       '02월 05일', '02월 06일', '02월 07일', '02월 10일', '02월 11일', '02월 12일',
       '02월 13일', '02월 14일', '02월 17일', '02월 18일', '02월 19일', '02월 20일',
       '02월 21일', '02월 24일', '02월 25일', '02월 26일', '02월 27일', '02월 28일',
       '03월 02일', '03월 03일', '03월 04일', '03월 05일', '03월 06일', '03월 09일',
       '03월 10일', '03월 11일', '03월 12일', '03월 13일', '03월 16일', '03월 17일',
       '03월 18일', '03월 19일', '03월 20일', '03월 23일', '03월 24일', '03월 25일',
       '03월 26일', '03월 27일', '03월 30일', '03월 31일', '04월 01일', '04월 02일',
       '04월 03일', '04월 06일', '04월 07일', '04월 08일', '04월 09일', '04월 10일',
       '04월 13일', '04월 14일'],
      dtype='object')

In [377]:
print(carrot_col2)

['2020-01-10', '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16', '2020-01-17', '2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-13', '2020-04-14']

In [378]:
# carrot3.rename(columns={carrot3.columns:carrot_col2})
#{'01월 10일' : '2020-01-10',.....}
ain = {}
for a in range(len(carrot3.columns))[2:] :
    ain[carrot3.columns[a]] = carrot_col2[a-2]
    
ain

{'01월 10일': '2020-01-10',
 '01월 13일': '2020-01-13',
 '01월 14일': '2020-01-14',
 '01월 15일': '2020-01-15',
 '01월 16일': '2020-01-16',
 '01월 17일': '2020-01-17',
 '01월 20일': '2020-01-20',
 '01월 21일': '2020-01-21',
 '01월 22일': '2020-01-22',
 '01월 23일': '2020-01-23',
 '01월 28일': '2020-01-28',
 '01월 29일': '2020-01-29',
 '01월 30일': '2020-01-30',
 '01월 31일': '2020-01-31',
 '02월 03일': '2020-02-03',
 '02월 04일': '2020-02-04',
 '02월 05일': '2020-02-05',
 '02월 06일': '2020-02-06',
 '02월 07일': '2020-02-07',
 '02월 10일': '2020-02-10',
 '02월 11일': '2020-02-11',
 '02월 12일': '2020-02-12',
 '02월 13일': '2020-02-13',
 '02월 14일': '2020-02-14',
 '02월 17일': '2020-02-17',
 '02월 18일': '2020-02-18',
 '02월 19일': '2020-02-19',
 '02월 20일': '2020-02-20',
 '02월 21일': '2020-02-21',
 '02월 24일': '2020-02-24',
 '02월 25일': '2020-02-25',
 '02월 26일': '2020-02-26',
 '02월 27일': '2020-02-27',
 '02월 28일': '2020-02-28',
 '03월 02일': '2020-03-02',
 '03월 03일': '2020-03-03',
 '03월 04일': '2020-03-04',
 '03월 05일': '2020-03-05',
 '03월 06일': '2020-03-06',
 '03월 09일': '2020-03-09',
 '03월 10일': '2020-03-10',
 '03월 11일': '2020-03-11',
 '03월 12일': '2020-03-12',
 '03월 13일': '2020-03-13',
 '03월 16일': '2020-03-16',
 '03월 17일': '2020-03-17',
 '03월 18일': '2020-03-18',
 '03월 19일': '2020-03-19',
 '03월 20일': '2020-03-20',
 '03월 23일': '2020-03-23',
 '03월 24일': '2020-03-24',
 '03월 25일': '2020-03-25',
 '03월 26일': '2020-03-26',
 '03월 27일': '2020-03-27',
 '03월 30일': '2020-03-30',
 '03월 31일': '2020-03-31',
 '04월 01일': '2020-04-01',
 '04월 02일': '2020-04-02',
 '04월 03일': '2020-04-03',
 '04월 06일': '2020-04-06',
 '04월 07일': '2020-04-07',
 '04월 08일': '2020-04-08',
 '04월 09일': '2020-04-09',
 '04월 10일': '2020-04-10',
 '04월 13일': '2020-04-13',
 '04월 14일': '2020-04-14'}

In [379]:
carrot3.rename(columns=ain, inplace=True)
carrot3

,구분,Unnamed: 1,2020-01-10,2020-01-13,2020-01-14,2020-01-15,2020-01-16,2020-01-17,2020-01-20,2020-01-21,...,2020-04-01,2020-04-02,2020-04-03,2020-04-06,2020-04-07,2020-04-08,2020-04-09,2020-04-10,2020-04-13,2020-04-14
0,평균,NaN,"4,600","4,600","4,600","4,600","4,600","4,600","4,933","4,933",...,"5,033","5,267","5,267","5,267","5,267","5,267","5,267","5,267","5,267","5,200"
1,평년,NaN,"3,354","3,385","3,392","3,389","3,377","3,452","3,324","3,321",...,"3,141","3,129","3,122","3,172","3,172","3,172","3,172","3,177","3,190","3,194"
2,부산,부전,"4,000","4,000","4,000","4,000","4,000","4,000","4,000","4,000",...,"4,300","4,500","4,500","4,500","4,500","4,500","4,500","4,500","4,500","4,300"
3,NaN,A-유통,"3,900","3,900","3,900","3,900","3,900","3,900","4,900","4,900",...,"4,900","5,400","5,400","5,400","5,400","5,400","5,400","5,400","5,400","5,400"
4,NaN,D-유통,"5,900","5,900","5,900","5,900","5,900","5,900","5,900","5,900",...,"5,900","5,900","5,900","5,900","5,900","5,900","5,900","5,900","5,900","5,900"

In [380]:
carrot3_col = []
for i in carrot3.columns[2:] : 
    carrot3_col.append(i)
    
# carrot3_col

In [381]:
carrot3.to_csv('./Data/0416_mini_project/20200110_20200415.csv')

In [383]:
year_20 = pd.read_csv('./Data/0416_mini_project/20200101_202004015_기상.csv')
year_20

                      날짜  현재기온  이슬점온도  체감온도  습도    풍속    해면기압
0    2020-04-15 14:00:00  19.2    2.9  63.0  34  15.1  1014.2
1    2020-04-14 14:00:00  22.2   -4.8  66.0  16   9.7  1015.9
2    2020-04-13 14:00:00  11.8   -2.4  55.0  37  16.9  1011.7
3    2020-04-12 14:00:00   9.4    5.7  50.0  78   5.4  1011.9
4    2020-04-11 14:00:00  14.0    3.7  57.0  50   6.5  1019.5
..                   ...   ...    ...   ...  ..   ...     ...
101  2020-01-05 14:00:00  11.2   -2.6  10.5  38   7.6  1029.3
102  2020-01-04 14:00:00   8.8   -4.0   6.5  40  14.8  1022.7
103  2020-01-03 14:00:00   9.8   -4.2   7.7  37  14.4  1024.2
104  2020-01-02 14:00:00   8.1   -3.1   6.0  45  11.9  1026.9
105  2020-01-01 14:00:00   6.6   -5.7   3.8  41  14.4  1029.8

[106 rows x 7 columns]

In [384]:
year_19 = pd.read_csv('./Data/0416_mini_project/2019_기상.csv')
year_19 = year_19[['날짜','현재기온','이슬점온도','체감온도','습도','풍속','해면기압']]
year_19

                      날짜  현재기온  이슬점온도  체감온도  습도    풍속    해면기압
0    2019-12-31 14:00:00   2.5  -18.2  -1.9  20  18.7  1031.1
1    2019-12-30 14:00:00  13.3    7.5  12.5  68  10.4  1019.7
2    2019-12-29 14:00:00   5.9   -4.0   5.9  49   3.2  1026.4
3    2019-12-28 14:00:00   9.1  -10.4   8.3  24   6.5  1028.1
4    2019-12-27 14:00:00   8.1  -12.3   5.4  22  16.2  1022.1
..                   ...   ...    ...   ...  ..   ...     ...
359  2019-01-06 14:00:00   8.5   -6.1   6.4  35  12.6  1025.0
360  2019-01-05 14:00:00  10.1  -11.2   8.2  21  14.0  1022.4
361  2019-01-04 14:00:00   2.9  -12.6   2.9  31   3.6  1029.8
362  2019-01-03 14:00:00   6.5  -14.9   3.0  20  19.8  1032.5
363  2019-01-02 14:00:00   5.5  -10.3   1.9  31  18.0  1030.4

[364 rows x 7 columns]

In [385]:
year = pd.concat([year_19,year_20], axis=0)
year.tail(15)

                      날짜  현재기온 이슬점온도  체감온도  습도    풍속    해면기압
91   2020-01-15 14:00:00   6.4  -7.6     4  36  11.5  1025.5
92   2020-01-14 14:00:00   4.7  -8.7   1.5  37    14  1022.7
93   2020-01-13 14:00:00   7.1  -5.2   4.9  41  11.2  1020.6
94   2020-01-12 14:00:00     8  -6.5     5  35  19.1  1014.3
95   2020-01-11 14:00:00   9.3  -3.9     7  39  15.1    1017
96   2020-01-10 14:00:00   9.7    -5   8.7  35   7.9  1020.4
97   2020-01-09 14:00:00   8.8  -4.7   6.5  38  14.8  1020.4
98   2020-01-08 14:00:00  10.1   1.9     8  57  15.5  1014.4
99   2020-01-07 14:00:00    13  12.8  12.5  99   7.9  1013.4
100  2020-01-06 14:00:00     4   2.8   2.1  92   7.6  1027.1
101  2020-01-05 14:00:00  11.2  -2.6  10.5  38   7.6  1029.3
102  2020-01-04 14:00:00   8.8    -4   6.5  40  14.8  1022.7
103  2020-01-03 14:00:00   9.8  -4.2   7.7  37  14.4  1024.2
104  2020-01-02 14:00:00   8.1  -3.1     6  45  11.9  1026.9
105  2020-01-01 14:00:00   6.6  -5.7   3.8  41  14.4  1029.8

In [386]:
year1 = year[:]
year1.sort_values(by='날짜', ascending=True)
year1

                      날짜  현재기온  이슬점온도  체감온도  습도    풍속    해면기압
0    2019-12-31 14:00:00   2.5  -18.2  -1.9  20  18.7  1031.1
1    2019-12-30 14:00:00  13.3    7.5  12.5  68  10.4  1019.7
2    2019-12-29 14:00:00   5.9   -4.0   5.9  49   3.2  1026.4
3    2019-12-28 14:00:00   9.1  -10.4   8.3  24   6.5  1028.1
4    2019-12-27 14:00:00   8.1  -12.3   5.4  22  16.2  1022.1
..                   ...   ...    ...   ...  ..   ...     ...
101  2020-01-05 14:00:00  11.2   -2.6  10.5  38   7.6  1029.3
102  2020-01-04 14:00:00   8.8     -4   6.5  40  14.8  1022.7
103  2020-01-03 14:00:00   9.8   -4.2   7.7  37  14.4  1024.2
104  2020-01-02 14:00:00   8.1   -3.1     6  45  11.9  1026.9
105  2020-01-01 14:00:00   6.6   -5.7   3.8  41  14.4  1029.8

[470 rows x 7 columns]

In [387]:
weather_val = []
for i in year1['날짜'] :
    weather_val.append(i)
    
weather_val

['2019-12-31 14:00:00',
 '2019-12-30 14:00:00',
 '2019-12-29 14:00:00',
 '2019-12-28 14:00:00',
 '2019-12-27 14:00:00',
 '2019-12-26 14:00:00',
 '2019-12-25 14:00:00',
 '2019-12-24 14:00:00',
 '2019-12-23 14:00:00',
 '2019-12-22 14:00:00',
 '2019-12-21 14:00:00',
 '2019-12-20 14:00:00',
 '2019-12-19 14:00:00',
 '2019-12-18 14:00:00',
 '2019-12-17 14:00:00',
 '2019-12-16 14:00:00',
 '2019-12-15 14:00:00',
 '2019-12-14 14:00:00',
 '2019-12-13 14:00:00',
 '2019-12-12 14:00:00',
 '2019-12-11 14:00:00',
 '2019-12-10 14:00:00',
 '2019-12-09 14:00:00',
 '2019-12-08 14:00:00',
 '2019-12-07 14:00:00',
 '2019-12-06 14:00:00',
 '2019-12-05 14:00:00',
 '2019-12-04 14:00:00',
 '2019-12-03 14:00:00',
 '2019-12-02 14:00:00',
 '2019-12-01 14:00:00',
 '2019-11-30 14:00:00',
 '2019-11-29 14:00:00',
 '2019-11-28 14:00:00',
 '2019-11-27 14:00:00',
 '2019-11-26 14:00:00',
 '2019-11-25 14:00:00',
 '2019-11-24 14:00:00',
 '2019-11-23 14:00:00',
 '2019-11-22 14:00:00',
 '2019-11-21 14:00:00',
 '2019-11-20 14:00:00',
 '2019-11-19 14:00:00',
 '2019-11-18 14:00:00',
 '2019-11-17 14:00:00',
 '2019-11-16 14:00:00',
 '2019-11-15 14:00:00',
 '2019-11-14 14:00:00',
 '2019-11-13 14:00:00',
 '2019-11-12 14:00:00',
 '2019-11-11 14:00:00',
 '2019-11-10 14:00:00',
 '2019-11-09 14:00:00',
 '2019-11-08 14:00:00',
 '2019-11-07 14:00:00',
 '2019-11-06 14:00:00',
 '2019-11-05 14:00:00',
 '2019-11-04 14:00:00',
 '2019-11-03 14:00:00',
 '2019-11-02 14:00:00',
 '2019-11-01 14:00:00',
 '2019-10-31 14:00:00',
 '2019-10-30 14:00:00',
 '2019-10-29 14:00:00',
 '2019-10-28 14:00:00',
 '2019-10-27 14:00:00',
 '2019-10-26 14:00:00',
 '2019-10-25 14:00:00',
 '2019-10-24 14:00:00',
 '2019-10-23 14:00:00',
 '2019-10-22 14:00:00',
 '2019-10-21 14:00:00',
 '2019-10-20 14:00:00',
 '2019-10-19 14:00:00',
 '2019-10-18 14:00:00',
 '2019-10-17 14:00:00',
 '2019-10-16 14:00:00',
 '2019-10-15 14:00:00',
 '2019-10-14 14:00:00',
 '2019-10-13 14:00:00',
 '2019-10-12 14:00:00',
 '2019-10-11 14:00:00',
 '2019-10-10 14:00:00',
 '2019-10-09 14:00:00',
 '2019-10-08 14:00:00',
 '2019-10-07 14:00:00',
 '2019-10-06 14:00:00',
 '2019-10-05 14:00:00',
 '2019-10-04 14:00:00',
 '2019-10-03 14:00:00',
 '2019-10-02 14:00:00',
 '2019-10-01 14:00:00',
 '2019-09-30 14:00:00',
 '2019-09-29 14:00:00',
 '2019-09-28 14:00:00',
 '2019-09-27 14:00:00',
 '2019-09-26 14:00:00',
 '2019-09-25 14:00:00',
 '2019-09-24 14:00:00',
 '2019-09-23 14:00:00',
 '2019-09-22 14:00:00',
 '2019-09-21 14:00:00',
 '2019-09-20 14:00:00',
 '2019-09-19 14:00:00',
 '2019-09-18 14:00:00',
 '2019-09-17 14:00:00',
 '2019-09-16 14:00:00',
 '2019-09-15 14:00:00',
 '2019-09-14 14:00:00',
 '2019-09-13 14:00:00',
 '2019-09-12 14:00:00',
 '2019-09-11 14:00:00',
 '2019-09-10 14:00:00',
 '2019-09-09 14:00:00',
 '2019-09-08 14:00:00',
 '2019-09-07 14:00:00',
 '2019-09-06 14:00:00',
 '2019-09-05 14:00:00',
 '2019-09-04 14:00:00',
 '2019-09-03 14:00:00',
 '2019-09-02 14:00:00',
 '2019-09-01 14:00:00',
 '2019-08-31 14:00:00',
 '2019-08-30 14:00:00',
 '2019-08-29 14:00:00',
 '2019-08-28 14:00:00',
 '2019-08-27 14:00:00',
 '2019-08-26 14:00:00',
 '2019-08-25 14:00:00',
 '2019-08-24 14:00:00',
 '2019-08-23 14:00:00',
 '2019-08-22 14:00:00',
 '2019-08-21 14:00:00',
 '2019-08-20 14:00:00',
 '2019-08-19 14:00:00',
 '2019-08-18 14:00:00',
 '2019-08-17 14:00:00',
 '2019-08-16 14:00:00',
 '2019-08-15 14:00:00',
 '2019-08-14 14:00:00',
 '2019-08-13 14:00:00',
 '2019-08-12 14:00:00',
 '2019-08-11 14:00:00',
 '2019-08-10 14:00:00',
 '2019-08-09 14:00:00',
 '2019-08-08 14:00:00',
 '2019-08-07 14:00:00',
 '2019-08-06 14:00:00',
 '2019-08-05 14:00:00',
 '2019-08-04 14:00:00',
 '2019-08-03 14:00:00',
 '2019-08-02 14:00:00',
 '2019-08-01 14:00:00',
 '2019-07-31 14:00:00',
 '2019-07-30 14:00:00',
 '2019-07-29 14:00:00',
 '2019-07-28 14:00:00',
 '2019-07-27 14:00:00',
 '2019-07-26 14:00:00',
 '2019-07-25 14:00:00',
 '2019-07-24 14:00:00',
 '2019-07-23 14:00:00',
 '2019-07-22 14:00:00',
 '2019-07-21 14:00:00',
 '2019-07-20 14:00:00',
 '2019-07-19 14:00:00',
 '2019-07-18 14:00:00',
 '2019-07-17 14:00:00',
 '2019-07-16 14:00:00',
 '2019-07-15 14:00:00',
 '2019-07-14 14:00:00',
 '2019-07-13 14:00:00',
 '2019-07-12 14:00:00',
 '2019-07-11 14:00:00',
 '2019-07-10 14:00:00',
 '2019-07-09 14:00:00',
 '2019-07-08 14:00:00',
 '2019-07-07 14:00:00',
 '2019-07-06 14:00:00',
 '2019-07-05 14:00:00',
 '2019-07-04 14:00:00',
 '2019-07-03 14:00:00',
 '2019-07-02 14:00:00',
 '2019-07-01 14:00:00',
 '2019-06-30 14:00:00',
 '2019-06-29 14:00:00',
 '2019-06-28 14:00:00',
 '2019-06-27 14:00:00',
 '2019-06-26 14:00:00',
 '2019-06-25 14:00:00',
 '2019-06-24 14:00:00',
 '2019-06-23 14:00:00',
 '2019-06-22 14:00:00',
 '2019-06-21 14:00:00',
 '2019-06-20 14:00:00',
 '2019-06-19 14:00:00',
 '2019-06-18 14:00:00',
 '2019-06-17 14:00:00',
 '2019-06-16 14:00:00',
 '2019-06-15 14:00:00',
 '2019-06-14 14:00:00',
 '2019-06-13 14:00:00',
 '2019-06-12 14:00:00',
 '2019-06-11 14:00:00',
 '2019-06-10 14:00:00',
 '2019-06-09 14:00:00',
 '2019-06-08 14:00:00',
 '2019-06-07 14:00:00',
 '2019-06-06 14:00:00',
 '2019-06-05 14:00:00',
 '2019-06-04 14:00:00',
 '2019-06-03 14:00:00',
 '2019-06-02 14:00:00',
 '2019-06-01 14:00:00',
 '2019-05-31 14:00:00',
 '2019-05-30 14:00:00',
 '2019-05-29 14:00:00',
 '2019-05-28 14:00:00',
 '2019-05-27 14:00:00',
 '2019-05-26 14:00:00',
 '2019-05-25 14:00:00',
 '2019-05-24 14:00:00',
 '2019-05-23 14:00:00',
 '2019-05-22 14:00:00',
 '2019-05-21 14:00:00',
 '2019-05-20 14:00:00',
 '2019-05-19 14:00:00',
 '2019-05-18 14:00:00',
 '2019-05-17 14:00:00',
 '2019-05-16 14:00:00',
 '2019-05-15 14:00:00',
 '2019-05-14 14:00:00',
 '2019-05-13 14:00:00',
 '2019-05-12 14:00:00',
 '2019-05-11 14:00:00',
 '2019-05-10 14:00:00',
 '2019-05-09 14:00:00',
 '2019-05-08 14:00:00',
 '2019-05-07 14:00:00',
 '2019-05-06 14:00:00',
 '2019-05-05 14:00:00',
 '2019-05-04 14:00:00',
 '2019-05-03 14:00:00',
 '2019-05-02 14:00:00',
 '2019-05-01 14:00:00',
 '2019-04-30 14:00:00',
 '2019-04-29 14:00:00',
 '2019-04-28 14:00:00',
 '2019-04-27 14:00:00',
 '2019-04-26 14:00:00',
 '2019-04-25 14:00:00',
 '2019-04-24 14:00:00',
 '2019-04-23 14:00:00',
 '2019-04-22 14:00:00',
 '2019-04-21 14:00:00',
 '2019-04-20 14:00:00',
 '2019-04-19 14:00:00',
 '2019-04-18 14:00:00',
 '2019-04-17 14:00:00',
 '2019-04-16 14:00:00',
 '2019-04-15 14:00:00',
 '2019-04-14 14:00:00',
 '2019-04-13 14:00:00',
 '2019-04-12 14:00:00',
 '2019-04-11 14:00:00',
 '2019-04-10 14:00:00',
 '2019-04-09 14:00:00',
 '2019-04-08 14:00:00',
 '2019-04-07 14:00:00',
 '2019-04-06 14:00:00',
 '2019-04-05 14:00:00',
 '2019-04-04 14:00:00',
 '2019-04-03 14:00:00',
 '2019-04-02 14:00:00',
 '2019-04-01 14:00:00',
 '2019-03-31 14:00:00',
 '2019-03-30 14:00:00',
 '2019-03-29 14:00:00',
 '2019-03-28 14:00:00',
 '2019-03-27 14:00:00',
 '2019-03-26 14:00:00',
 '2019-03-25 14:00:00',
 '2019-03-24 14:00:00',
 '2019-03-23 14:00:00',
 '2019-03-22 14:00:00',
 '2019-03-21 14:00:00',
 '2019-03-20 14:00:00',
 '2019-03-19 14:00:00',
 '2019-03-18 14:00:00',
 '2019-03-17 14:00:00',
 '2019-03-16 14:00:00',
 '2019-03-15 14:00:00',
 '2019-03-14 14:00:00',
 '2019-03-13 14:00:00',
 '2019-03-12 14:00:00',
 '2019-03-11 14:00:00',
 '2019-03-10 14:00:00',
 '2019-03-09 14:00:00',
 '2019-03-08 14:00:00',
 '2019-03-07 14:00:00',
 '2019-03-06 14:00:00',
 '2019-03-05 14:00:00',
 '2019-03-04 14:00:00',
 '2019-03-03 14:00:00',
 '2019-03-02 14:00:00',
 '2019-03-01 14:00:00',
 '2019-02-28 14:00:00',
 '2019-02-27 14:00:00',
 '2019-02-26 14:00:00',
 '2019-02-25 14:00:00',
 '2019-02-24 14:00:00',
 '2019-02-23 14:00:00',
 '2019-02-22 14:00:00',
 '2019-02-21 14:00:00',
 '2019-02-20 14:00:00',
 '2019-02-19 14:00:00',
 '2019-02-18 14:00:00',
 '2019-02-17 14:00:00',
 '2019-02-16 14:00:00',
 '2019-02-15 14:00:00',
 '2019-02-14 14:00:00',
 '2019-02-13 14:00:00',
 '2019-02-12 14:00:00',
 '2019-02-11 14:00:00',
 '2019-02-10 14:00:00',
 '2019-02-09 14:00:00',
 '2019-02-08 14:00:00',
 '2019-02-07 14:00:00',
 '2019-02-06 14:00:00',
 '2019-02-05 14:00:00',
 '2019-02-04 14:00:00',
 '2019-02-03 14:00:00',
 '2019-02-02 14:00:00',
 '2019-02-01 14:00:00',
 '2019-01-31 14:00:00',
 '2019-01-30 14:00:00',
 '2019-01-29 14:00:00',
 '2019-01-28 14:00:00',
 '2019-01-27 14:00:00',
 '2019-01-26 14:00:00',
 '2019-01-25 14:00:00',
 '2019-01-24 14:00:00',
 '2019-01-23 14:00:00',
 '2019-01-22 14:00:00',
 '2019-01-21 14:00:00',
 '2019-01-20 14:00:00',
 '2019-01-19 14:00:00',
 '2019-01-18 14:00:00',
 '2019-01-17 14:00:00',
 '2019-01-16 14:00:00',
 '2019-01-15 14:00:00',
 '2019-01-14 14:00:00',
 '2019-01-13 14:00:00',
 '2019-01-12 14:00:00',
 '2019-01-11 14:00:00',
 '2019-01-10 14:00:00',
 '2019-01-09 14:00:00',
 '2019-01-08 14:00:00',
 '2019-01-07 14:00:00',
 '2019-01-06 14:00:00',
 '2019-01-05 14:00:00',
 '2019-01-04 14:00:00',
 '2019-01-03 14:00:00',
 '2019-01-02 14:00:00',
 '2020-04-15 14:00:00',
 '2020-04-14 14:00:00',
 '2020-04-13 14:00:00',
 '2020-04-12 14:00:00',
 '2020-04-11 14:00:00',
 '2020-04-10 14:00:00',
 '2020-04-09 14:00:00',
 '2020-04-08 14:00:00',
 '2020-04-07 14:00:00',
 '2020-04-06 14:00:00',
 '2020-04-05 14:00:00',
 '2020-04-04 14:00:00',
 '2020-04-03 14:00:00',
 '2020-04-02 14:00:00',
 '2020-04-01 14:00:00',
 '2020-03-31 14:00:00',
 '2020-03-30 14:00:00',
 '2020-03-29 14:00:00',
 '2020-03-28 14:00:00',
 '2020-03-27 14:00:00',
 '2020-03-26 14:00:00',
 '2020-03-25 14:00:00',
 '2020-03-24 14:00:00',
 '2020-03-23 14:00:00',
 '2020-03-22 14:00:00',
 '2020-03-21 14:00:00',
 '2020-03-20 14:00:00',
 '2020-03-19 14:00:00',
 '2020-03-18 14:00:00',
 '2020-03-17 14:00:00',
 '2020-03-16 14:00:00',
 '2020-03-15 14:00:00',
 '2020-03-14 14:00:00',
 '2020-03-13 14:00:00',
 '2020-03-12 14:00:00',
 '2020-03-11 14:00:00',
 '2020-03-10 14:00:00',
 '2020-03-09 14:00:00',
 '2020-03-08 14:00:00',
 '2020-03-07 14:00:00',
 '2020-03-06 14:00:00',
 '2020-03-05 14:00:00',
 '2020-03-04 14:00:00',
 '2020-03-03 14:00:00',
 '2020-03-02 14:00:00',
 '2020-03-01 14:00:00',
 '2020-02-29 14:00:00',
 '2020-02-28 14:00:00',
 '2020-02-27 14:00:00',
 '2020-02-26 14:00:00',
 '2020-02-25 14:00:00',
 '2020-02-24 14:00:00',
 '2020-02-23 14:00:00',
 '2020-02-22 14:00:00',
 '2020-02-21 14:00:00',
 '2020-02-20 14:00:00',
 '2020-02-19 14:00:00',
 '2020-02-18 14:00:00',
 '2020-02-17 14:00:00',
 '2020-02-16 14:00:00',
 '2020-02-15 14:00:00',
 '2020-02-14 14:00:00',
 '2020-02-13 14:00:00',
 '2020-02-12 14:00:00',
 '2020-02-11 14:00:00',
 '2020-02-10 14:00:00',
 '2020-02-09 14:00:00',
 '2020-02-08 14:00:00',
 '2020-02-07 14:00:00',
 '2020-02-06 14:00:00',
 '2020-02-05 14:00:00',
 '2020-02-04 14:00:00',
 '2020-02-03 14:00:00',
 '2020-02-02 14:00:00',
 '2020-02-01 14:00:00',
 '2020-01-31 14:00:00',
 '2020-01-30 14:00:00',
 '2020-01-29 14:00:00',
 '2020-01-28 14:00:00',
 '2020-01-27 14:00:00',
 '2020-01-26 14:00:00',
 '2020-01-25 14:00:00',
 '2020-01-24 14:00:00',
 '2020-01-23 14:00:00',
 '2020-01-22 14:00:00',
 '2020-01-21 14:00:00',
 '2020-01-20 14:00:00',
 '2020-01-19 14:00:00',
 '2020-01-18 14:00:00',
 '2020-01-17 14:00:00',
 '2020-01-16 14:00:00',
 '2020-01-15 14:00:00',
 '2020-01-14 14:00:00',
 '2020-01-13 14:00:00',
 '2020-01-12 14:00:00',
 '2020-01-11 14:00:00',
 '2020-01-10 14:00:00',
 '2020-01-09 14:00:00',
 '2020-01-08 14:00:00',
 '2020-01-07 14:00:00',
 '2020-01-06 14:00:00',
 '2020-01-05 14:00:00',
 '2020-01-04 14:00:00',
 '2020-01-03 14:00:00',
 '2020-01-02 14:00:00',
 '2020-01-01 14:00:00']

In [388]:
type(weather_val)

list

In [389]:
weather_val.sort()
weather_val

['2019-01-02 14:00:00',
 '2019-01-03 14:00:00',
 '2019-01-04 14:00:00',
 '2019-01-05 14:00:00',
 '2019-01-06 14:00:00',
 '2019-01-07 14:00:00',
 '2019-01-08 14:00:00',
 '2019-01-09 14:00:00',
 '2019-01-10 14:00:00',
 '2019-01-11 14:00:00',
 '2019-01-12 14:00:00',
 '2019-01-13 14:00:00',
 '2019-01-14 14:00:00',
 '2019-01-15 14:00:00',
 '2019-01-16 14:00:00',
 '2019-01-17 14:00:00',
 '2019-01-18 14:00:00',
 '2019-01-19 14:00:00',
 '2019-01-20 14:00:00',
 '2019-01-21 14:00:00',
 '2019-01-22 14:00:00',
 '2019-01-23 14:00:00',
 '2019-01-24 14:00:00',
 '2019-01-25 14:00:00',
 '2019-01-26 14:00:00',
 '2019-01-27 14:00:00',
 '2019-01-28 14:00:00',
 '2019-01-29 14:00:00',
 '2019-01-30 14:00:00',
 '2019-01-31 14:00:00',
 '2019-02-01 14:00:00',
 '2019-02-02 14:00:00',
 '2019-02-03 14:00:00',
 '2019-02-04 14:00:00',
 '2019-02-05 14:00:00',
 '2019-02-06 14:00:00',
 '2019-02-07 14:00:00',
 '2019-02-08 14:00:00',
 '2019-02-09 14:00:00',
 '2019-02-10 14:00:00',
 '2019-02-11 14:00:00',
 '2019-02-12 14:00:00',
 '2019-02-13 14:00:00',
 '2019-02-14 14:00:00',
 '2019-02-15 14:00:00',
 '2019-02-16 14:00:00',
 '2019-02-17 14:00:00',
 '2019-02-18 14:00:00',
 '2019-02-19 14:00:00',
 '2019-02-20 14:00:00',
 '2019-02-21 14:00:00',
 '2019-02-22 14:00:00',
 '2019-02-23 14:00:00',
 '2019-02-24 14:00:00',
 '2019-02-25 14:00:00',
 '2019-02-26 14:00:00',
 '2019-02-27 14:00:00',
 '2019-02-28 14:00:00',
 '2019-03-01 14:00:00',
 '2019-03-02 14:00:00',
 '2019-03-03 14:00:00',
 '2019-03-04 14:00:00',
 '2019-03-05 14:00:00',
 '2019-03-06 14:00:00',
 '2019-03-07 14:00:00',
 '2019-03-08 14:00:00',
 '2019-03-09 14:00:00',
 '2019-03-10 14:00:00',
 '2019-03-11 14:00:00',
 '2019-03-12 14:00:00',
 '2019-03-13 14:00:00',
 '2019-03-14 14:00:00',
 '2019-03-15 14:00:00',
 '2019-03-16 14:00:00',
 '2019-03-17 14:00:00',
 '2019-03-18 14:00:00',
 '2019-03-19 14:00:00',
 '2019-03-20 14:00:00',
 '2019-03-21 14:00:00',
 '2019-03-22 14:00:00',
 '2019-03-23 14:00:00',
 '2019-03-24 14:00:00',
 '2019-03-25 14:00:00',
 '2019-03-26 14:00:00',
 '2019-03-27 14:00:00',
 '2019-03-28 14:00:00',
 '2019-03-29 14:00:00',
 '2019-03-30 14:00:00',
 '2019-03-31 14:00:00',
 '2019-04-01 14:00:00',
 '2019-04-02 14:00:00',
 '2019-04-03 14:00:00',
 '2019-04-04 14:00:00',
 '2019-04-05 14:00:00',
 '2019-04-06 14:00:00',
 '2019-04-07 14:00:00',
 '2019-04-08 14:00:00',
 '2019-04-09 14:00:00',
 '2019-04-10 14:00:00',
 '2019-04-11 14:00:00',
 '2019-04-12 14:00:00',
 '2019-04-13 14:00:00',
 '2019-04-14 14:00:00',
 '2019-04-15 14:00:00',
 '2019-04-16 14:00:00',
 '2019-04-17 14:00:00',
 '2019-04-18 14:00:00',
 '2019-04-19 14:00:00',
 '2019-04-20 14:00:00',
 '2019-04-21 14:00:00',
 '2019-04-22 14:00:00',
 '2019-04-23 14:00:00',
 '2019-04-24 14:00:00',
 '2019-04-25 14:00:00',
 '2019-04-26 14:00:00',
 '2019-04-27 14:00:00',
 '2019-04-28 14:00:00',
 '2019-04-29 14:00:00',
 '2019-04-30 14:00:00',
 '2019-05-01 14:00:00',
 '2019-05-02 14:00:00',
 '2019-05-03 14:00:00',
 '2019-05-04 14:00:00',
 '2019-05-05 14:00:00',
 '2019-05-06 14:00:00',
 '2019-05-07 14:00:00',
 '2019-05-08 14:00:00',
 '2019-05-09 14:00:00',
 '2019-05-10 14:00:00',
 '2019-05-11 14:00:00',
 '2019-05-12 14:00:00',
 '2019-05-13 14:00:00',
 '2019-05-14 14:00:00',
 '2019-05-15 14:00:00',
 '2019-05-16 14:00:00',
 '2019-05-17 14:00:00',
 '2019-05-18 14:00:00',
 '2019-05-19 14:00:00',
 '2019-05-20 14:00:00',
 '2019-05-21 14:00:00',
 '2019-05-22 14:00:00',
 '2019-05-23 14:00:00',
 '2019-05-24 14:00:00',
 '2019-05-25 14:00:00',
 '2019-05-26 14:00:00',
 '2019-05-27 14:00:00',
 '2019-05-28 14:00:00',
 '2019-05-29 14:00:00',
 '2019-05-30 14:00:00',
 '2019-05-31 14:00:00',
 '2019-06-01 14:00:00',
 '2019-06-02 14:00:00',
 '2019-06-03 14:00:00',
 '2019-06-04 14:00:00',
 '2019-06-05 14:00:00',
 '2019-06-06 14:00:00',
 '2019-06-07 14:00:00',
 '2019-06-08 14:00:00',
 '2019-06-09 14:00:00',
 '2019-06-10 14:00:00',
 '2019-06-11 14:00:00',
 '2019-06-12 14:00:00',
 '2019-06-13 14:00:00',
 '2019-06-14 14:00:00',
 '2019-06-15 14:00:00',
 '2019-06-16 14:00:00',
 '2019-06-17 14:00:00',
 '2019-06-18 14:00:00',
 '2019-06-19 14:00:00',
 '2019-06-20 14:00:00',
 '2019-06-21 14:00:00',
 '2019-06-22 14:00:00',
 '2019-06-23 14:00:00',
 '2019-06-24 14:00:00',
 '2019-06-25 14:00:00',
 '2019-06-26 14:00:00',
 '2019-06-27 14:00:00',
 '2019-06-28 14:00:00',
 '2019-06-29 14:00:00',
 '2019-06-30 14:00:00',
 '2019-07-01 14:00:00',
 '2019-07-02 14:00:00',
 '2019-07-03 14:00:00',
 '2019-07-04 14:00:00',
 '2019-07-05 14:00:00',
 '2019-07-06 14:00:00',
 '2019-07-07 14:00:00',
 '2019-07-08 14:00:00',
 '2019-07-09 14:00:00',
 '2019-07-10 14:00:00',
 '2019-07-11 14:00:00',
 '2019-07-12 14:00:00',
 '2019-07-13 14:00:00',
 '2019-07-14 14:00:00',
 '2019-07-15 14:00:00',
 '2019-07-16 14:00:00',
 '2019-07-17 14:00:00',
 '2019-07-18 14:00:00',
 '2019-07-19 14:00:00',
 '2019-07-20 14:00:00',
 '2019-07-21 14:00:00',
 '2019-07-22 14:00:00',
 '2019-07-23 14:00:00',
 '2019-07-24 14:00:00',
 '2019-07-25 14:00:00',
 '2019-07-26 14:00:00',
 '2019-07-27 14:00:00',
 '2019-07-28 14:00:00',
 '2019-07-29 14:00:00',
 '2019-07-30 14:00:00',
 '2019-07-31 14:00:00',
 '2019-08-01 14:00:00',
 '2019-08-02 14:00:00',
 '2019-08-03 14:00:00',
 '2019-08-04 14:00:00',
 '2019-08-05 14:00:00',
 '2019-08-06 14:00:00',
 '2019-08-07 14:00:00',
 '2019-08-08 14:00:00',
 '2019-08-09 14:00:00',
 '2019-08-10 14:00:00',
 '2019-08-11 14:00:00',
 '2019-08-12 14:00:00',
 '2019-08-13 14:00:00',
 '2019-08-14 14:00:00',
 '2019-08-15 14:00:00',
 '2019-08-16 14:00:00',
 '2019-08-17 14:00:00',
 '2019-08-18 14:00:00',
 '2019-08-19 14:00:00',
 '2019-08-20 14:00:00',
 '2019-08-21 14:00:00',
 '2019-08-22 14:00:00',
 '2019-08-23 14:00:00',
 '2019-08-24 14:00:00',
 '2019-08-25 14:00:00',
 '2019-08-26 14:00:00',
 '2019-08-27 14:00:00',
 '2019-08-28 14:00:00',
 '2019-08-29 14:00:00',
 '2019-08-30 14:00:00',
 '2019-08-31 14:00:00',
 '2019-09-01 14:00:00',
 '2019-09-02 14:00:00',
 '2019-09-03 14:00:00',
 '2019-09-04 14:00:00',
 '2019-09-05 14:00:00',
 '2019-09-06 14:00:00',
 '2019-09-07 14:00:00',
 '2019-09-08 14:00:00',
 '2019-09-09 14:00:00',
 '2019-09-10 14:00:00',
 '2019-09-11 14:00:00',
 '2019-09-12 14:00:00',
 '2019-09-13 14:00:00',
 '2019-09-14 14:00:00',
 '2019-09-15 14:00:00',
 '2019-09-16 14:00:00',
 '2019-09-17 14:00:00',
 '2019-09-18 14:00:00',
 '2019-09-19 14:00:00',
 '2019-09-20 14:00:00',
 '2019-09-21 14:00:00',
 '2019-09-22 14:00:00',
 '2019-09-23 14:00:00',
 '2019-09-24 14:00:00',
 '2019-09-25 14:00:00',
 '2019-09-26 14:00:00',
 '2019-09-27 14:00:00',
 '2019-09-28 14:00:00',
 '2019-09-29 14:00:00',
 '2019-09-30 14:00:00',
 '2019-10-01 14:00:00',
 '2019-10-02 14:00:00',
 '2019-10-03 14:00:00',
 '2019-10-04 14:00:00',
 '2019-10-05 14:00:00',
 '2019-10-06 14:00:00',
 '2019-10-07 14:00:00',
 '2019-10-08 14:00:00',
 '2019-10-09 14:00:00',
 '2019-10-10 14:00:00',
 '2019-10-11 14:00:00',
 '2019-10-12 14:00:00',
 '2019-10-13 14:00:00',
 '2019-10-14 14:00:00',
 '2019-10-15 14:00:00',
 '2019-10-16 14:00:00',
 '2019-10-17 14:00:00',
 '2019-10-18 14:00:00',
 '2019-10-19 14:00:00',
 '2019-10-20 14:00:00',
 '2019-10-21 14:00:00',
 '2019-10-22 14:00:00',
 '2019-10-23 14:00:00',
 '2019-10-24 14:00:00',
 '2019-10-25 14:00:00',
 '2019-10-26 14:00:00',
 '2019-10-27 14:00:00',
 '2019-10-28 14:00:00',
 '2019-10-29 14:00:00',
 '2019-10-30 14:00:00',
 '2019-10-31 14:00:00',
 '2019-11-01 14:00:00',
 '2019-11-02 14:00:00',
 '2019-11-03 14:00:00',
 '2019-11-04 14:00:00',
 '2019-11-05 14:00:00',
 '2019-11-06 14:00:00',
 '2019-11-07 14:00:00',
 '2019-11-08 14:00:00',
 '2019-11-09 14:00:00',
 '2019-11-10 14:00:00',
 '2019-11-11 14:00:00',
 '2019-11-12 14:00:00',
 '2019-11-13 14:00:00',
 '2019-11-14 14:00:00',
 '2019-11-15 14:00:00',
 '2019-11-16 14:00:00',
 '2019-11-17 14:00:00',
 '2019-11-18 14:00:00',
 '2019-11-19 14:00:00',
 '2019-11-20 14:00:00',
 '2019-11-21 14:00:00',
 '2019-11-22 14:00:00',
 '2019-11-23 14:00:00',
 '2019-11-24 14:00:00',
 '2019-11-25 14:00:00',
 '2019-11-26 14:00:00',
 '2019-11-27 14:00:00',
 '2019-11-28 14:00:00',
 '2019-11-29 14:00:00',
 '2019-11-30 14:00:00',
 '2019-12-01 14:00:00',
 '2019-12-02 14:00:00',
 '2019-12-03 14:00:00',
 '2019-12-04 14:00:00',
 '2019-12-05 14:00:00',
 '2019-12-06 14:00:00',
 '2019-12-07 14:00:00',
 '2019-12-08 14:00:00',
 '2019-12-09 14:00:00',
 '2019-12-10 14:00:00',
 '2019-12-11 14:00:00',
 '2019-12-12 14:00:00',
 '2019-12-13 14:00:00',
 '2019-12-14 14:00:00',
 '2019-12-15 14:00:00',
 '2019-12-16 14:00:00',
 '2019-12-17 14:00:00',
 '2019-12-18 14:00:00',
 '2019-12-19 14:00:00',
 '2019-12-20 14:00:00',
 '2019-12-21 14:00:00',
 '2019-12-22 14:00:00',
 '2019-12-23 14:00:00',
 '2019-12-24 14:00:00',
 '2019-12-25 14:00:00',
 '2019-12-26 14:00:00',
 '2019-12-27 14:00:00',
 '2019-12-28 14:00:00',
 '2019-12-29 14:00:00',
 '2019-12-30 14:00:00',
 '2019-12-31 14:00:00',
 '2020-01-01 14:00:00',
 '2020-01-02 14:00:00',
 '2020-01-03 14:00:00',
 '2020-01-04 14:00:00',
 '2020-01-05 14:00:00',
 '2020-01-06 14:00:00',
 '2020-01-07 14:00:00',
 '2020-01-08 14:00:00',
 '2020-01-09 14:00:00',
 '2020-01-10 14:00:00',
 '2020-01-11 14:00:00',
 '2020-01-12 14:00:00',
 '2020-01-13 14:00:00',
 '2020-01-14 14:00:00',
 '2020-01-15 14:00:00',
 '2020-01-16 14:00:00',
 '2020-01-17 14:00:00',
 '2020-01-18 14:00:00',
 '2020-01-19 14:00:00',
 '2020-01-20 14:00:00',
 '2020-01-21 14:00:00',
 '2020-01-22 14:00:00',
 '2020-01-23 14:00:00',
 '2020-01-24 14:00:00',
 '2020-01-25 14:00:00',
 '2020-01-26 14:00:00',
 '2020-01-27 14:00:00',
 '2020-01-28 14:00:00',
 '2020-01-29 14:00:00',
 '2020-01-30 14:00:00',
 '2020-01-31 14:00:00',
 '2020-02-01 14:00:00',
 '2020-02-02 14:00:00',
 '2020-02-03 14:00:00',
 '2020-02-04 14:00:00',
 '2020-02-05 14:00:00',
 '2020-02-06 14:00:00',
 '2020-02-07 14:00:00',
 '2020-02-08 14:00:00',
 '2020-02-09 14:00:00',
 '2020-02-10 14:00:00',
 '2020-02-11 14:00:00',
 '2020-02-12 14:00:00',
 '2020-02-13 14:00:00',
 '2020-02-14 14:00:00',
 '2020-02-15 14:00:00',
 '2020-02-16 14:00:00',
 '2020-02-17 14:00:00',
 '2020-02-18 14:00:00',
 '2020-02-19 14:00:00',
 '2020-02-20 14:00:00',
 '2020-02-21 14:00:00',
 '2020-02-22 14:00:00',
 '2020-02-23 14:00:00',
 '2020-02-24 14:00:00',
 '2020-02-25 14:00:00',
 '2020-02-26 14:00:00',
 '2020-02-27 14:00:00',
 '2020-02-28 14:00:00',
 '2020-02-29 14:00:00',
 '2020-03-01 14:00:00',
 '2020-03-02 14:00:00',
 '2020-03-03 14:00:00',
 '2020-03-04 14:00:00',
 '2020-03-05 14:00:00',
 '2020-03-06 14:00:00',
 '2020-03-07 14:00:00',
 '2020-03-08 14:00:00',
 '2020-03-09 14:00:00',
 '2020-03-10 14:00:00',
 '2020-03-11 14:00:00',
 '2020-03-12 14:00:00',
 '2020-03-13 14:00:00',
 '2020-03-14 14:00:00',
 '2020-03-15 14:00:00',
 '2020-03-16 14:00:00',
 '2020-03-17 14:00:00',
 '2020-03-18 14:00:00',
 '2020-03-19 14:00:00',
 '2020-03-20 14:00:00',
 '2020-03-21 14:00:00',
 '2020-03-22 14:00:00',
 '2020-03-23 14:00:00',
 '2020-03-24 14:00:00',
 '2020-03-25 14:00:00',
 '2020-03-26 14:00:00',
 '2020-03-27 14:00:00',
 '2020-03-28 14:00:00',
 '2020-03-29 14:00:00',
 '2020-03-30 14:00:00',
 '2020-03-31 14:00:00',
 '2020-04-01 14:00:00',
 '2020-04-02 14:00:00',
 '2020-04-03 14:00:00',
 '2020-04-04 14:00:00',
 '2020-04-05 14:00:00',
 '2020-04-06 14:00:00',
 '2020-04-07 14:00:00',
 '2020-04-08 14:00:00',
 '2020-04-09 14:00:00',
 '2020-04-10 14:00:00',
 '2020-04-11 14:00:00',
 '2020-04-12 14:00:00',
 '2020-04-13 14:00:00',
 '2020-04-14 14:00:00',
 '2020-04-15 14:00:00']

In [417]:
date = []
for i in range(len(weather_val)) :     
    date.append(weather_val[i][:10])
    
print(date)
#     date2 = []
#     for i in date : 
#         date2.append(date[i])
#         print(date2)

['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12', '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16', '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20', '2019-01-21', '2019-01-22', '2019-01-23', '2019-01-24', '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28', '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01', '2019-02-02', '2019-02-03', '2019-02-04', '2019-02-05', '2019-02-06', '2019-02-07', '2019-02-08', '2019-02-09', '2019-02-10', '2019-02-11', '2019-02-12', '2019-02-13', '2019-02-14', '2019-02-15', '2019-02-16', '2019-02-17', '2019-02-18', '2019-02-19', '2019-02-20', '2019-02-21', '2019-02-22', '2019-02-23', '2019-02-24', '2019-02-25', '2019-02-26', '2019-02-27', '2019-02-28', '2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04', '2019-03-05', '2019-03-06', '2019-03-07', '2019-03-08', '2019-03-09', '2019-03-10', '2019-03-11', '2019-03-12', '2019-03-13', '2019-03-14', '2019-03-15', '2019-03-16', '2019-03-17', '2019-03-18', '2019-03-19', '2019-03-20', '2019-03-21', '2019-03-22', '2019-03-23', '2019-03-24', '2019-03-25', '2019-03-26', '2019-03-27', '2019-03-28', '2019-03-29', '2019-03-30', '2019-03-31', '2019-04-01', '2019-04-02', '2019-04-03', '2019-04-04', '2019-04-05', '2019-04-06', '2019-04-07', '2019-04-08', '2019-04-09', '2019-04-10', '2019-04-11', '2019-04-12', '2019-04-13', '2019-04-14', '2019-04-15', '2019-04-16', '2019-04-17', '2019-04-18', '2019-04-19', '2019-04-20', '2019-04-21', '2019-04-22', '2019-04-23', '2019-04-24', '2019-04-25', '2019-04-26', '2019-04-27', '2019-04-28', '2019-04-29', '2019-04-30', '2019-05-01', '2019-05-02', '2019-05-03', '2019-05-04', '2019-05-05', '2019-05-06', '2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10', '2019-05-11', '2019-05-12', '2019-05-13', '2019-05-14', '2019-05-15', '2019-05-16', '2019-05-17', '2019-05-18', '2019-05-19', '2019-05-20', '2019-05-21', '2019-05-22', '2019-05-23', '2019-05-24', '2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28', '2019-05-29', '2019-05-30', '2019-05-31', '2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04', '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08', '2019-06-09', '2019-06-10', '2019-06-11', '2019-06-12', '2019-06-13', '2019-06-14', '2019-06-15', '2019-06-16', '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20', '2019-06-21', '2019-06-22', '2019-06-23', '2019-06-24', '2019-06-25', '2019-06-26', '2019-06-27', '2019-06-28', '2019-06-29', '2019-06-30', '2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04', '2019-07-05', '2019-07-06', '2019-07-07', '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11', '2019-07-12', '2019-07-13', '2019-07-14', '2019-07-15', '2019-07-16', '2019-07-17', '2019-07-18', '2019-07-19', '2019-07-20', '2019-07-21', '2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-27', '2019-07-28', '2019-07-29', '2019-07-30', '2019-07-31', '2019-08-01', '2019-08-02', '2019-08-03', '2019-08-04', '2019-08-05', '2019-08-06', '2019-08-07', '2019-08-08', '2019-08-09', '2019-08-10', '2019-08-11', '2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17', '2019-08-18', '2019-08-19', '2019-08-20', '2019-08-21', '2019-08-22', '2019-08-23', '2019-08-24', '2019-08-25', '2019-08-26', '2019-08-27', '2019-08-28', '2019-08-29', '2019-08-30', '2019-08-31', '2019-09-01', '2019-09-02', '2019-09-03', '2019-09-04', '2019-09-05', '2019-09-06', '2019-09-07', '2019-09-08', '2019-09-09', '2019-09-10', '2019-09-11', '2019-09-12', '2019-09-13', '2019-09-14', '2019-09-15', '2019-09-16', '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20', '2019-09-21', '2019-09-22', '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26', '2019-09-27', '2019-09-28', '2019-09-29', '2019-09-30', '2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04', '2019-10-05', '2019-10-06', '2019-10-07', '2019-10-08', '2019-10-09', '2019-10-10', '2019-10-11', '2019-10-12', '2019-10-13', '2019-10-14', '2019-10-15', '2019-10-16', '2019-10-17', '2019-10-18', '2019-10-19', '2019-10-20', '2019-10-21', '2019-10-22', '2019-10-23', '2019-10-24', '2019-10-25', '2019-10-26', '2019-10-27', '2019-10-28', '2019-10-29', '2019-10-30', '2019-10-31', '2019-11-01', '2019-11-02', '2019-11-03', '2019-11-04', '2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08', '2019-11-09', '2019-11-10', '2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14', '2019-11-15', '2019-11-16', '2019-11-17', '2019-11-18', '2019-11-19', '2019-11-20', '2019-11-21', '2019-11-22', '2019-11-23', '2019-11-24', '2019-11-25', '2019-11-26', '2019-11-27', '2019-11-28', '2019-11-29', '2019-11-30', '2019-12-01', '2019-12-02', '2019-12-03', '2019-12-04', '2019-12-05', '2019-12-06', '2019-12-07', '2019-12-08', '2019-12-09', '2019-12-10', '2019-12-11', '2019-12-12', '2019-12-13', '2019-12-14', '2019-12-15', '2019-12-16', '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-20', '2019-12-21', '2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25', '2019-12-26', '2019-12-27', '2019-12-28', '2019-12-29', '2019-12-30', '2019-12-31', '2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04', '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12', '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16', '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15']

In [419]:
year['date'] = pd.DataFrame(date)
year

                      날짜  현재기온  이슬점온도  체감온도  습도    풍속    해면기압        date
0    2019-12-31 14:00:00   2.5  -18.2  -1.9  20  18.7  1031.1  2019-01-02
1    2019-12-30 14:00:00  13.3    7.5  12.5  68  10.4  1019.7  2019-01-03
2    2019-12-29 14:00:00   5.9   -4.0   5.9  49   3.2  1026.4  2019-01-04
3    2019-12-28 14:00:00   9.1  -10.4   8.3  24   6.5  1028.1  2019-01-05
4    2019-12-27 14:00:00   8.1  -12.3   5.4  22  16.2  1022.1  2019-01-06
..                   ...   ...    ...   ...  ..   ...     ...         ...
101  2020-01-05 14:00:00  11.2   -2.6  10.5  38   7.6  1029.3  2019-04-13
102  2020-01-04 14:00:00   8.8     -4   6.5  40  14.8  1022.7  2019-04-14
103  2020-01-03 14:00:00   9.8   -4.2   7.7  37  14.4  1024.2  2019-04-15
104  2020-01-02 14:00:00   8.1   -3.1     6  45  11.9  1026.9  2019-04-16
105  2020-01-01 14:00:00   6.6   -5.7   3.8  41  14.4  1029.8  2019-04-17

[470 rows x 8 columns]